.article
  %h2
    %span= article[:name]
  - if article[:date]
    %p.infopost
      Posted on
      %span.date= format_article_date(article[:date])
  .clr
  - if article[:pic]
    - if article[:pic].is_a? Image
      = image_fu article[:pic], '198x188'
      .post_content
        %p= raw article[:desc]
    - else
      .img
        = raw article[:pic]
      .post_content
        = raw article[:desc]
  - else
    %p= raw article[:desc]

    -# %p.spec
      -# = link_to 'Read More', '#',